<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILDKITE_BRANCH</key>
	<string>$(BUILDKITE_BRANCH)</string>
	<key>BUILDKITE_BUILD_ID</key>
	<string>$(BUILDKITE_BUILD_ID)</string>
	<key>BUILDKITE_BUILD_NUMBER</key>
	<string>$(BUILDKITE_BUILD_NUMBER)</string>
	<key>BUILDKITE_BUILD_URL</key>
	<string>$(BUILDKITE_BUILD_URL)</string>
	<key>BUILDKITE_COMMIT</key>
	<string>$(BUILDKITE_COMMIT)</string>
	<key>BUILDKITE_JOB_ID</key>
	<string>$(BUILDKITE_JOB_ID)</string>
	<key>BUILDKITE_MESSAGE</key>
	<string>$(BUILDKITE_MESSAGE)</string>
</dict>
</plist>
