<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BUILDKITE_ANALYTICS_TOKEN</key>
    <string>$(BUILDKITE_ANALYTICS_TOKEN)</string>
    <key>GITHUB_ACTION</key>
    <string>$(GITHUB_ACTION)</string>
    <key>GITHUB_REF</key>
    <string>$(GITHUB_REF)</string>
    <key>GITHUB_RUN_NUMBER</key>
    <string>$(GITHUB_RUN_NUMBER)</string>
    <key>GITHUB_RUN_ATTEMPT</key>
    <string>$(GITHUB_RUN_ATTEMPT)</string>
    <key>GITHUB_REPOSITORY</key>
    <string>$(GITHUB_REPOSITORY)</string>
    <key>GITHUB_RUN_ID</key>
    <string>$(GITHUB_RUN_ID)</string>
    <key>GITHUB_SHA</key>
    <string>$(GITHUB_SHA)</string>
    <key>GITHUB_WORKFLOW</key>
    <string>$(GITHUB_WORKFLOW)</string>
    <key>GITHUB_ACTOR</key>
    <string>$(GITHUB_ACTOR)</string>
  </dict>
</plist>
